main.md-main {
  --card-bg: #dfdfdf;
}

.tabbed-set {
  padding: 1rem;
  /*border: 1px dashed #797979;*/
  border-radius: 0.5rem !important;
}

.md-typeset .grid.cards > ul > li {
  background-color: var(--card-bg);
}

.md-typeset img,
.md-typeset svg,
.md-typeset video figure.span img {
  width: 128px !important;
  height: 128px;
}

.md-typeset figure.mood {
  margin-left: 0;
}
